# Local .terraform directories
.terraform/

# Terraform plan files
*.tfplan

# State files
*.tfstate
*.tfstate.*

# Crash logs
crash.log

# Override files (used for local changes)
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore backup files
*.bak
*.backup

# Ignore Mac system files
.DS_Store
